<!DOCTYPE html>
<html>
  <head>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-26207471-3"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-26207471-3');
    </script>

    <title>Strategy Summit 2020</title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i&display=swap&subset=latin-ext" rel="stylesheet">   
    <link rel="manifest" href="/manifest.json" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#ffffff">
    
    <%= favicon_link_tag "apple-touch-icon.png", rel: 'apple-touch-icon', type: 'image/png', sizes: "192x192" %>
    <%= favicon_link_tag "favicon.png", rel: 'shortcut icon', type: 'image/png', sizes: "64x64" %>

  </head>

  <body>

    <div style="margin: 20px;">

      <h1 class="brand-logo center">STRATEGY SUMMIT 2020</h1>

      <p id="alert"><%= alert %></p>

      <%= form_tag sessions_path do |form| %>
        <div class="field">
          <%= label_tag :login %>
          <%= text_field_tag :login %>
        </div>
        <div class="field">
          <%= label_tag :password %>
          <%= password_field_tag :password %>
        </div>
        <div class="actions center">
          <%= submit_tag "Entrar", class: "btn red", style: "color: #ffffff; font-weight: bold;" %>
        </div>
      <% end %>

    </div>

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

  </body>

</html>