<!-- <h1>Agenda</h1> -->

<div id="03julho" style="margin-top: 50px; margin-bottom: 50px;">

  <h1>03/Julho</h1>
  <div class="divider"></div>
   
  <% @participante.primeiro_dia.each do |e| %>

    <div style="margin-bottom: 30px;">
      <h3><%= e.titulo %></h3>
  <!--     <% if e.palestrante.present? %>
        <p style="font-style: italic; margin-top: -5px;"><%= e.palestrante %></p>
      <% end %> -->
      <p>Das <%= e.inicio.strftime("%H:%M") %> às <%= e.fim.strftime("%H:%M") %><% unless e.local.nil? %> no <%= e.local %><% end %></p>
    </div>

  <% end %>
</div>

<div id="04julho" style="margin-top: 50px; margin-bottom: 50px;">

  <h1>04/Julho</h1>
  <div class="divider"></div>
   
  <% @participante.segundo_dia.each do |e| %>

    <div style="margin-bottom: 30px;">
      <h3><%= e.titulo %></h3>
  <!--     <% if e.palestrante.present? %>
        <p style="font-style: italic; margin-top: -5px;"><%= e.palestrante %></p>
      <% end %> -->
      <p>Das <%= e.inicio.strftime("%H:%M") %> às <%= e.fim.strftime("%H:%M") %><% unless e.local.nil? %> no <%= e.local %><% end %></p>
    </div>

  <% end %>

</div>