<h1>Agenda</h1>

<h2>03/Julho</h2>
<!-- <hr> -->
 
<% @primeiro_dia.each do |e| %>

  <div>
    <h3><%= e.titulo %></h3>
    <p>Das <%= e.inicio.strftime("%H:%M") %> às <%= e.fim.strftime("%H:%M") %> no <%= e.local %></p>
  </div>

<% end %>

<h2>04/Julho</h2>
<!-- <hr> -->
 
<% @segundo_dia.each do |e| %>

  <div>
    <h3><%= e.titulo %></h3>
    <p>Das <%= e.inicio.strftime("%H:%M") %> às <%= e.fim.strftime("%H:%M") %> no <%= e.local %></p>
  </div>

<% end %>