
<%= form_with scope: :participante, url: participantes_path, local: true do |form| %>

  <p>
    <%= form.label :login %><br>
    <%= form.text_field :login %>
  </p>

<!--   <p>
    <%= form.label :senha %><br>
    <%= form.text_field :senha %>
  </p> -->

  <p>
    <%= form.label :nome %><br>
    <%= form.text_field :nome %>
  </p>

  <p>
    <%= form.label :organizacao %><br>
    <%= form.text_field :organizacao %>
  </p>
 
  <p>
    <%= form.submit %>
  </p>
<% end %>