
<p>
  <strong>Nome:</strong>
  <%= @participante.nome %>
</p>

<p>
  <strong>Login:</strong>
  <%= @participante.login %>
</p>

<p>
  <strong>Organização:</strong>
  <%= @participante.organizacao %>
</p>

<%= link_to 'Editar', edit_participante_path(@participante) %> |
<%= link_to 'Voltar', participantes_path %>