<h1><%= @participante.nome %></h1>

<p style="font-size: large;">
  <strong>Login:</strong>
  <%= @participante.login %>
</p>

<p style="font-size: large;">
  <strong>Organização:</strong>
  <%= @participante.organizacao %>
</p>

<br>

<!--<%= link_to 'Editar', edit_participante_path(@participante) %>-->

<%= link_to 'Sair', logout_path, class: "btn red", style: "color: #ffffff; font-weight: bold;" %>